AZURE_RESOURCE_GROUP=
AZURE_LOCATION=
AZURE_CONTAINER_APPS_ENVIRONMENT_NAME=
AZURE_CONTAINER_APPS_ENVIRONMENT_ID=
AZURE_CONTAINER_REGISTRY_ENDPOINT=
AZURE_REGISTRY=

AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_INDEX_NAME=offers-index
AZURE_SEARCH_ADMIN_KEY=

AZURE_OPENAI_ENDPOINT=
AZURE_AI_PROJECT_ENDPOINT=
AZURE_AI_PROJECT_ID=
AZURE_AI_PROJECT_NAME=
AZURE_AI_HOSTED_AGENT_NAME=shopping-agent
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-4.1-mini
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4.1-mini
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=text-embedding-3-small
OPENAI_API_VERSION=2024-05-01-preview

APPLICATIONINSIGHTS_CONNECTION_STRING=

SHOPPING_CHAT_CONTAINER_APP_NAME=shopping-chat
SHOPPING_AGENT_CONTAINER_APP_NAME=shopping-agent
PROMOTION_INGESTION_CONTAINER_APP_NAME=promotion-ingestion
